:root {
    --mc-black: #000000;
    --mc-black-shadow: 3px 3px #000000;
    --mc-dark-blue: #0000AA;
    --mc-dark-blue-shadow: 3px 3px #00002A;
    --mc-dark-green: #00AA00;
    --mc-dark-green-shadow: 3px 3px #002A00;
    --mc-dark-aqua: #00AAAA;
    --mc-dark-aqua-shadow: 3px 3px #002A2A;
    --mc-dark-red: #AA0000;
    --mc-dark-red-shadow: 3px 3px #2A0000;
    --mc-dark-purple: #AA00AA;
    --mc-dark-purple-shadow: 3px 3px #2A002A;
    --mc-gold: #FFAA00;
    --mc-gold-shadow: 3px 3px #2A2A00;
    --mc-gray: #AAAAAA;
    --mc-gray-shadow: 3px 3px #2A2A2A;
    --mc-dark-gray: #555555;
    --mc-dark-gray-shadow: 3px 3px #151515;
    --mc-blue: #5555FF;
    --mc-blue-shadow: 3px 3px #15153F;
    --mc-green: #55FF55;
    --mc-green-shadow: 3px 3px #153F15;
    --mc-aqua: #55FFFF;
    --mc-aqua-shadow: 3px 3px #153F3F;
    --mc-red: #FF5555;
    --mc-red-shadow: 3px 3px #3F1515;
    --mc-light-purple: #FF55FF;
    --mc-light-purple-shadow: 3px 3px #3F153F;
    --mc-yellow: #FFFF55;
    --mc-yellow-shadow: 3px 3px #3F3F15;
    --mc-white: #FFFFFF;
    --mc-white-shadow: 3px 3px #3F3F3F;
}
